<!doctype html>
<html ng-app="app">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <title>USER</title>
    <script type="text/javascript">

    </script>

</head>
<body ng-controller="smartPhoneCtrl">

<!-- Header -->
<div class="col-md-offset-2 col-md-8 page-header">
    <h2>SHOP</h2>
</div>

<div ng-controller="smartPhoneCtrl" class="col-md-offset-2 col-md-8">
    <!------------------------------------------- orders ------------------------------------------->
    <div class="page-header">
        <h4> - Your order:</h4>
    </div>
    <div class="form-inline">
        <div class="form-group">
            <div class="col-md-offset-20">
                <button class="btn btn-default" ng-click="getAllSmartPhone()">clean</button>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2">
                <button class="btn btn-default" ng-click="showBlock  = !  showBlock">send</button>
            </div>
        </div>
    </div>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>id</th>
                <th>company</th>
                <th>model</th>
                <th>description</th>
                <th>quantity</th>
                <th>delete from order</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="order in orders"> <!-- ng-show="showBlock" -->
                <td>{{order.id}}</td>
                <td>{{order.company}}</td>
                <td>{{order.model}}</td>
                <td>{{order.description}}</td>
                <td>{{order.quantity}}</td>
                <td><button class="btn btn-default" ng-click="deleteFromOrder(order.id, order.company, order.model, order.description, order.quantity)">-</button></td>
            </tr>
            </tbody>
        </table>
    </div>
    <!------------------------------------------- order ------------------------------------------->

    <!------------------------------------------- smart phone ------------------------------------------->
    <div class="page-header">
        <h4> - Add smart phone:</h4>
    </div>
    <form>
    <div class="form-inline">
        <div class="form-group">
            <div class="col-md-8">
                <input type="text" class="form-control" ng-model="company" placeholder = "company" required/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-8">
                <input type="text" class="form-control" ng-model="model" placeholder="model" required/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-8">
                <input type="text" class="form-control" ng-model="description" placeholder="description" required/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-8">
                <input type="number" class="form-control" ng-model="quantity" placeholder="quantity" required/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-8">
                <button class="btn btn-default" ng-click="addSmartPhone(company, model, description, quantity)">add</button>
            </div>
        </div>
    </div>
    </form>


    <div class="page-header">
        <h4> - Get all smart phone:</h4>
    </div>
    <div class="form-inline">
        <div class="form-group">
            <div class="col-md-offset-20">
                <button class="btn btn-default" ng-click="getAllSmartPhone()">get</button>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2">
                <!--<button class="btn btn-default" ng-click="showBlock  = !  showBlock">hide</button>-->
            </div>
        </div>
    </div>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>id</th>
                <th>company</th>
                <th>model</th>
                <th>description</th>
                <th>quantity</th>
                <th>add to order</th>
                <th>delete</th>
                </tr>
            </thead>
            <tbody>
            <tr ng-repeat="phone in smartPhones"> <!--  ng-show="showBlock" -->
                <td>{{phone.id}}</td>
                <td>{{phone.company}}</td>
                <td>{{phone.model}}</td>
                <td>{{phone.description}}</td>
                <td>{{phone.quantity}}</td>
                <td><button class="btn btn-default" ng-click="addToOrder(phone.id, phone.company, phone.model, phone.description, phone.quantity)">+</button></td>
                <td><button class="btn btn-default" ng-click="deleteSmartPhone(phone.id)">-</button></td>
            </tr>
            </tbody>
        </table>
    </div>
    <!------------------------------------------- smart phone ------------------------------------------->

</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
<script type="text/javascript" src="test.js"></script>

</body>
</html>



<!--<td><button class="btn btn-default" ng-click="addSmartPhone(phone.company, phone.model, phone.description, phone.quantity)">+</button></td> -->
<!--<td><button class="btn btn-default" ng-click="deleteSmartPhone(phone.id)">-</button></td>-->